.flag{
  height: 320px;
  position: fixed;
  top: 40%;
  /* left: 0px; */
  margin: 0px;
  object-fit: cover;
}

.modal-form{
  /* position: fixed; */
  /* z-index: 2; */
}

#content{
  margin-top: 50px;
}
